.block_5 {
  overflow: hidden;
}

.twitter_block_head {
  text-align: center;
  margin-bottom: 63px;
  margin-top: 68px;
  font-size: 28px;
  line-height: 37px;
  color: var(--text_black);
}

.twitter {
  width: 90%;
  margin: auto;
}

.post {
  display: flex;
  flex-direction: column;
  width: 309px;
  border: 1px solid var(--twitter-border);
  margin-right: 50px;
  border-radius: 4px;
  height: 165px; /* goodbye, Lui */
}

.upper {
  display: flex;
  margin-left: 5px;
  position: relative;
}

.portrait {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 15px;
}

.name {
  margin-left: 17px;
}

.twitter_logo {
  width: 15px;
  height: 12px;
  display: block;
  justify-self: flex-end;
  position: absolute;
  top: 24px;
  right: 13px;
}

.opinion {
  margin-left: 17px;
  font-size: 14px;
  color: var(--text_black);
  line-height: 18px;
  margin-right: 13px;
  display: block;
}

.slick-prev,
.slick-prev::before {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: url("image/arrow_left.svg") 50% 50% no-repeat;
  z-index: 10;
  box-shadow: none;
}

.slick-prev {
  border: 1px solid var(--blue);
  left: -50px;
}

.slick-next,
.slick-next::before {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: url("image/arrow_right.svg") 50% 50% no-repeat;
  z-index: 10;
  right: -50px;
}

.slick-next {
  border: 1px solid var(--blue);
}

.slick-dotted.slick-slider {
  margin-bottom: 108px;
}

.slick-dots {
  bottom: -60px;
}
