.block_3 {
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
}

.block_3_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.block_3_left {
  display: block;
  margin-left: 162px;
  font-family: var(--main_font);
}

.block_3_left .top {
  margin-top: 217px;
}

.block_3_left .h3 {
  margin-top: 27px;
}

.block_3_left .text {
  width: 480px;
  color: var(--text_black);
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  font-weight: 500;
}

.block_3_left .bottom {
  margin-top: 54px;
  margin-bottom: 171px;
  display: block;
}

.block_3_right {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  box-sizing: content-box;
}

.mobile_phone {
  position: relative;
  margin-top: 100px;
}

.mobile_phone::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("image/bell_notification.svg") 50% 50%;
  background-size: contain;
  top: 60px;
  left: 30px;
}

.mobile_phone::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("image/mobile_notification.svg") 50% 50%;
  background-size: contain;
  bottom: 145px;
  right: -20px;
}

.first_circle {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: -1;
  border: dashed 1px var(--blue);
  margin: auto;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.second_circle {
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: -1;
  border: dashed 1px var(--blue);
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
}

.second_circle__dot {
  width: 35px;
  height: 35px;
  margin-top: 458px;
  margin-left: 40px;
}

.third_circle {
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: -3;
  border: solid 1px var(--blue);
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.4;
}

.fourth_circle {
  position: absolute;
  width: 1000px;
  height: 1000px;
  z-index: -3;
  border: solid 1px var(--blue);
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.4;
}

.fifth_circle {
  position: absolute;
  width: 1200px;
  height: 1200px;
  z-index: -3;
  border: solid 1px var(--blue);
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.3;
}

.sixth_circle {
  position: absolute;
  width: 1400px;
  height: 1400px;
  z-index: -2;
  border: solid 1px var(--blue);
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.3;
}

.seventh_circle {
  position: absolute;
  width: 1600px;
  height: 1600px;
  z-index: -3;
  border: solid 1px var(--blue);
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.2;
}

.eighth_circle {
  position: absolute;
  width: 1800px;
  height: 1800px;
  z-index: -3;
  border: solid 1px var(--blue);
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.2;
}

.ninth_circle {
  position: absolute;
  width: 2000px;
  height: 2000px;
  z-index: -3;
  border: solid 1px var(--blue);
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.1  ;
}
