.block_5 {
  box-sizing: content-box;
  width: 100%;
  overflow: hidden;
}

.twitter {
  display: flex;
  width: 125%;
  margin-left: -62px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 309px;
  border: 2px solid black;
  margin-right: 50px;
}

.upper {
  display: flex;
  margin-left: 5px;
  justify-content: flex-start;
}

.portrait {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.twitter_logo {
  width: 15px;
  height: 12px;
  margin-right: 13px;
}

.opinion {
}

.slick-prev,
.slick-prev::before {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: url("image/aroow_left.svg") 50% 50% no-repeat;
  z-index: 10;
}

.slick-prev {
  border: 2px solid var(--blue);
  left: 269px;
}


