.block_5 {
  box-sizing: content-box;
  width: 100%;
  overflow: hidden;
}

.twitter {

  width: 125%;
  margin-left: -115px;
}

.post {
  display: flex;
  flex-direction: column;
  width: 309px;
  border: 1px solid var(--twitter-border);
  margin-right: 50px;
  border-radius: 4px;
  height: 161px;
}

.upper {
  display: flex;
  margin-left: 5px;
  position: relative;
}

.portrait {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 15px;
}

.name {
  margin-left: 17px;
}

.twitter_logo {
  width: 15px;
  height: 12px;
  display: block;
  justify-self: flex-end;
  position: absolute;
  top: 24px;
  right: 13px;
}

.opinion {
  margin-left: 17px;
}

.slick-prev,
.slick-prev::before {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: url("image/arrow_left.svg") 50% 50% no-repeat;
  z-index: 10;
  box-shadow: none;
}

.slick-prev {
  border: 1px solid var(--blue);
  left: 269px;
}

.slick-next,
.slick-next::before {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: url("image/arrow_right.svg") 50% 50% no-repeat;
  z-index: 10;
  right: 360px;
}

.slick-next {
  border: 1px solid var(--blue);
}

.slick-current {
  position: relative;
}

.slick-current:before {
  background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
  border-radius: 4px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.5;
}


