@import "block_1.css";
@import "block_2.css";
@import "block_3.css";
@import "block_4.css";
@import "block_5.css";
@import "block_6.css";
@import "block_7.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
}

:root {
  --h_black: #333;
  --text_black: #4f4f4f;
  --blue: #0ade;
  --full_black: 000;
  --light_grey: fafafa;
  --white: #fff;
  --block_1_background: #f4f6f9;
  --h3_black: #333;
  --notification_background: #eee;
  --main_font: lato, sans-serif;
  --twitter-border: #828282;
}

.h3 {
  color: var(--h3_black);
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
}

.blue_links {
  color: var(--blue);
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
}
