@import "block_1.css";
@import "block_2.css";
@import "block_3.css";
@import "block_4.css";
@import "block_5.css";
@import "block_6.css";
@import "block_7.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  /*display: flex;*/
  /*flex-direction: column;*/
  padding: 0;
  width: 100%;
}

:root {
  --h_black: #333;
  --text_black: #4f4f4f;
  --blue: #0ade;
  --full_black: 000;
  --light_grey: #fafafa;
  --white: #fff;
  --block_1_background: #f4f6f9;
  --h3_black: #333;
  --notification_background: #eee;
  --main_font: "Lato", sans-serif;
  --twitter-border: #828282;
}

.h3 {
  color: var(--h3_black);
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
}

.blue_links {
  color: var(--blue);
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
}

.blue_links:active {
  opacity: 0.5;
}

.blue_text {
  color: var(--blue);
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
}

.footer {
  display: flex;
  background: var(--blue);
  justify-content: space-between;
  align-content: center;
}

.footer_logo {
  margin-left: 163px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.footer_middle {
  margin-top: 51px;
  margin-bottom: 52px;
}

.footer_middle_link {
  text-decoration: none;
  color: var(--white);
  margin-right: 37px;
  font-family: var(--main_font);
  font-size: 16px;
  line-height: 21px;
}

.footer_middle_link:hover {
  color: var(--light_grey);
}

.footer_middle_link:active {
  opacity: 0.5;
}

.navigation {
  margin-right: 162px;
  margin-top: 51px;
  margin-bottom: 52px;
}

.navigation_link {
  margin-right: 17px;
}

.left {
  left: 0;

}

.right {
  right: 0;
}
